.gradle
.idea

buildSrc/.gradle
buildSrc/build

bukkit/.gradle
bukkit/build

api/.gradle
api/build

run

!bukkit/run/config
!bukkit/run/eula.txt
!bukkit/run/bukkit.yml
!bukkit/run/server.properties

build

jars