.gradle
.idea

api/build
api/.gradle

buildSrc/.gradle
buildSrc/build

platforms/crazyrunes/.gradle
platforms/crazyrunes/build

platforms/folia/.gradle
platforms/folia/build

platforms/paper/.gradle
platforms/paper/build