.gradle
.idea

paper/.gradle
paper/build

folia/.gradle
folia/build

folia-small/.gradle
folia-small/build

api/.gradle
api/build

buildSrc/.gradle
buildSrc/build

paper-small/.gradle
paper-small/build

build